.quotes {
    text-align: center;
    padding: 50px 0px 50px 0px;

}


.quotes h1 {
    font-size: 36px;
    color: #0d8491;
    letter-spacing: 20%;
    font-weight: lighter;
}

.bannerImg {
    width: 100%;
    height: 257px;
    position: relative;
    display: contents;
}

.serviceSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.serviceText {
    width: 1147px;
    height: 97px;
    display: flex;
    background-color: #1C1913;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(149, 147, 147, 0.75);
}

.services {
    width: 819px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.services .serviceList h2 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.services .serviceList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allServices {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    margin-bottom: -75px;

}

.collectionBanner {
    display: flex;
    align-items: end;
    justify-content: center;
}

.bannerHead {

    position: absolute;
    z-index: 1;
    margin-bottom: 85px;
}

.bannerHead h1 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 20%;
}

.serviceList h4 {
    font-size: 13px;
    color: #fff;
    font-weight: inherit;
}


/* Filter Section */


.filterHead h1 {
    font-size: 48px;
    color: #fff;

}

.filterHead {
    width: 206px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FilterSec {
    display: grid;
    align-items: self-start;
    justify-content: start;
    gap: 22px;
    width: 97px;

}

.FilterSec h1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.FilterSec .filterSteps label {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.FilterSec .filterSteps {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

}

.allFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 361px;
    flex-direction: column;
    gap: 60px;
}

.allFilters .filterProduct {
    display: grid;
    gap: 60px;
}

.filterCard {
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: center;
    margin-top: 20px;

}

.adImg {
    width: 295px;
    height: 603px;
    background-color: #0d8491;
}

.cardImage {
    width: 207px;
    height: 321px;

    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    position: relative;
    display: flex;
    align-items: self-start;
    justify-content: end;
}


.addCartText p {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    user-select: none;
    margin-bottom: 0px;
}

.addCartText {
    background-color: #020202;
    border-radius: -2%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}


.addCartTextRem {
    background-color: #e72e00;
    border-radius: -2%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.addCartTextRem p {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    user-select: none;
}



.cardDetails {
    display: grid;
    align-items: center;
    height: 420px;
    gap: 22px;
    margin-bottom: 83px;
}

.cardDetails .cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.cardText h1 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 10%;
}

.cardText p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 10%;
}

.cardSection {
    width: 1005px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-around;


}












.allCard {
    width: 1084px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;

}

/* .filterDetails {
    width: 400px;

} */

.pagination {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    gap: 25px;
    margin-bottom: 20px;
}

.pagination button {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
}

.bannerTwo {
    width: 100%;
    height: 257px;
    padding-bottom: 40px;
    margin-top: 50px;
}


.filterIconMb {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    color: white;
    font-size: 9px;
}

/* .filterIconMbSiz {
    width: 30%;
} */
.menuSec2 {
    display: none;
}

@media (max-width:480px) {


    .quotes h1 {
        font-size: 15px;
        color: #0d8491;
        letter-spacing: 20%;
        font-weight: lighter;
    }

    .bannerHead h1 {
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        letter-spacing: 20%;
    }


    .allServices {
        display: none;
    }

    .bannerImg {
        width: 100%;
        height: 186px;
        position: relative;
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .bannerHead {
        position: absolute;
        z-index: 1;
        margin-bottom: 0px;
    }

    .allCard {
        width: 1084px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .filterSection {
        display: none;
    }


    .cardSection {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-around;
    }

    .cardImage {
        width: 135px;
        height: auto;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        position: relative;
        display: flex;
        align-items: self-start;
        justify-content: end;
    }

    .cardText h1 {
        font-size: 15px;
        color: #fff;
        text-align: center;
        letter-spacing: 10%;
    }

    .cardDetails {
        display: grid;
        align-items: center;
        height: 280px;
        gap: 22px;
        margin-bottom: 83px;
    }

    .pagination {
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .pagination:nth-child(1) {
        margin-bottom: 30px;
    }



    .serviceSection {
        padding-bottom: 30px;
    }

    .bannerTwo {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        margin-top: 50px;
    }

    .filterIconMb {
        display: flex;
    }

    .adSection {
        display: none;
    }

    .filterHead {
        display: none;
    }


    .allFilters {

        gap: 0px;
    }

    .allFilters .filterProduct {
        display: flex;
        gap: 0px;
        width: 325px;
        align-items: baseline;
    }


    .FilterSec {





        gap: 15px;
    }

    .menuSec2 {

        width: 100%;
        display: flex;
        justify-content: end;



    }

    .FilterSec {
        gap: 0px;
    }

    .FilterSec .filterSteps {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 0px;

    }



}



.sidebar-title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.sidebar-items {
    margin-top: 20px;
}

.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.all {
    background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input~.checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked~.checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}